<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>메뉴</h1>

        <div class="menulist">
            <div class="menucategory">
                <div class="search">
                    <input type="text" id="search_word"><label for="search_word"></label>
                    <button type="button" class="store_search">검색</button>
                </div>

                <div class="category">
                    <input type="radio" name="category" id="category01" value="all" checked>
                    <label for="category01" data-category="">전체</label>
                    <input type="radio" name="category" id="category02" value="donut">
                    <label for="category02" style="" data-category="donut">도넛</label>
                    <input type="radio" name="category" id="category03" value="cake">
                    <label for="category03" style="" data-category="cake">케이크</label>
                    <input type="radio" name="category" id="category04" value="bakery">
                    <label for="category04" style="" data-category="bakery">베이커리</label>
                </div>
            </div>

            <!--/* 그냥 아래 Vue.js로 모두 해결하기로 함 */-->
<!--            <ul class="listview">-->
<!--                <th:block th:each="item : ${itemList}">-->
<!--                    <li th:object="${item}" th:attr="data-id=${item.id}" class="item_link">-->
<!--                        <div>-->
<!--                            <div class="img">-->
<!--                                <img th:src="*{itemImageDTO.imageUrl}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <h2 th:text="*{name}"></h2>-->
<!--                        <p th:text="${#numbers.formatDecimal(item.price, 3, 'COMMA', 0, 'POINT')}"></p>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--            </ul>-->

            <!--/* Vue.js로 v-for 반복문을 돌아 렌더링할 부분 */-->
            <ul class="listview" id="category_items">
                <!-- 일단 items에 담았기 때문에 이를 순회하면서 값을 가져온다 -->
                <li v-for="item in items" :key="item.id" :data-id="item.id" class="item_link">
                    <div>
                        <div class="img">
                            <img :src="item.itemImageDTO.imageUrl" />
                        </div>
                    </div>
                    <h2>{{ item.name }}</h2>
                    <p>{{ formatPrice(item.price) }}</p>
                </li>
            </ul>

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        // 상품 클릭 시 매장으로 이동
        // $(".item_link").on("click", function(){
        //     let itemId = $(this).data("id");
        //
        //     location.href = "/menu/" + itemId;
        // });
        /* 주의! 동적으로 DOM이 바뀌었기에 상위 DOM을 기준으로 바인딩한다 */
        $(".menulist").on("click", ".item_link", function(){
            let itemId = $(this).data("id");
            location.href = "/menu/" + itemId;
        });

        // Vue 인스턴스 생성 - 상품 리스트
        const categoryItems = new Vue({
            el: "#category_items",
            data: {
                items: []
            },
            methods: {
                formatPrice(price){
                    return price.toLocaleString();
                }
            }
        });

        $(document).ready(function(){
            // 페이지 로드 완료되면 바로 loadCategoryItems로 전체 상품 불러옴
            loadCategoryItems("all");
        });

        // 카테고리로 상품 리스트 받아오는 함수
        function loadCategoryItems(category){
            // 카테고리로 리스트 받아 옴
            $.ajax({
                url: "/menu/category/" + category,
                method: "GET",
                data: {
                    category: category,
                },
                cache: false,
                success: function(result, status){
                    categoryItems.items = result;
                },
                error: function(jqXHR, status, error){
                    alert(jqXHR.responseText);
                }
            });
        }

        // 카테고리 및 검색어로 상품 리스트 받아오는 함수
        function loadSearchItems(category, searchWord){

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: "/menu/search",
                method: "POST",
                data: {
                    category: category,
                    searchWord: searchWord,
                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    categoryItems.items = result;
                },
                error: function(jqXHR, status, error){
                    alert(jqXHR.responseText);
                }
            });
        }

        // 카테고리 클릭 시 jQuery ajax + Vue.js로 화면에 뿌리기
        $(".menucategory .category label").on("click", function(){
            let category = $(this).data("category");

            if(!category){
                category = "all";
            }

            loadCategoryItems(category);
        });

        // 검색 input 값 변화 시 다시 읽어오기
        $("#search_word").on("change", function(){
            let category = $(".menucategory .category input[name='category']:checked").val();
            let searchWord = $(this).val();

            loadSearchItems(category, searchWord);
        });

    </script>
</th:block>

</html>