<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <title>Knotted 클론코딩</title>

    <!--/* CSS */-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> &lt;!&ndash;/* 부트스트랩 CSS */&ndash;&gt;-->
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"> <!--/* Swiper CSS */-->
    <link rel="stylesheet" th:href="@{/css/admin.css}"> <!--/* 관리자 CSS */-->

    <!--/* 페이지별 커스텀 css */-->
    <th:block layout:fragment="css"></th:block>
</head>
<body>

<div th:replace="~{fragments/header::header}"></div>
<div th:replace="~{fragments/admin/header::header}"></div>

<section>
    <div layout:fragment="content"></div>
</section>

<div th:replace="~{fragments/footer::footer}"></div>

<!--/* JS */-->
<script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script> <!-- /* Vue.js JS */ -->
<script th:src="@{/js/jquery-3.6.4.min.js}"></script> <!--/* jQuery JS */-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script> &lt;!&ndash;/* 부트스트랩 JS */&ndash;&gt;-->
<script th:src="@{/js/swiper-bundle.min.js}"></script> <!--/* Swiper JS */-->
<script th:src="@{/js/common.js}"></script> <!--/* 사이트 전역 JS */-->
<script th:src="@{/js/admin.js}"></script> <!--/* 관리자 JS */-->

<!--/* 페이지별 커스텀 js */-->
<th:block layout:fragment="script"></th:block>
</body>
</html>