<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <title>Knotted 클론코딩</title>

    <!--/* CSS */-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> &lt;!&ndash;/* 부트스트랩 CSS */&ndash;&gt;-->
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"> <!--/* Swiper CSS */-->
    <link rel="stylesheet" th:href="@{/css/common.css}"> <!--/* 사이트 전역 CSS */-->

    <!--/* 페이지별 커스텀 css */-->
    <th:block layout:fragment="css"></th:block>
</head>
<body>

    <!--/* 타임리프에서 이 주석은 렌더링되지 않음 */-->
    <!--/* th:replace : 다른 페이지의 내용을 포함시키는 속성 */-->
    <!--/* layout:fragment : 레이아웃 페이지에서 치환될 컨텐츠의 영역을 지정하는 속성 */-->
    <!--/* fragments/header::header : fragments/header.html 파일에서 header라는 이름의 fragment를 여기에 넣음 */-->
    <div th:replace="~{fragments/header::header}"></div>

    <section>
        <div layout:fragment="content"></div>
    </section>

    <div th:replace="~{fragments/footer::footer}"></div>

    <!--/* 팝업 레이어 추가 (팝업 필요할 때만 쓰기) */-->
    <div layout:fragment="popup"></div>

    <!--/* JS */-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script> <!-- /* Vue.js JS */ -->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script> <!--/* jQuery JS */-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script> &lt;!&ndash;/* 부트스트랩 JS */&ndash;&gt;-->
    <script th:src="@{/js/swiper-bundle.min.js}"></script> <!--/* Swiper JS */-->
    <script th:src="@{/js/common.js}"></script> <!--/* 사이트 전역 JS */-->

    <!--/* 페이지별 커스텀 js */-->
    <th:block layout:fragment="script"></th:block>
</body>
</html>