<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <title>Knotted 클론코딩 - 에러</title>

    <!--/* CSS */-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/error.css}">

    <!--/* 페이지별 커스텀 css */-->
    <th:block layout:fragment="css"></th:block>
</head>
<body>

<section>
    <th:block layout:fragment="content"></th:block>
</section>

<!--/* JS */-->
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<script th:src="@{/js/error.js}"></script>

<!--/* 페이지별 커스텀 js */-->
<th:block layout:fragment="script"></th:block>
</body>
</html>