<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>결제</h1>

        <div class="orderlist">
            <div class="store">주문매장 : 노티드 안국</div>
            <div class="store">주문일자 : 2023-05-19 15:30:00</div>
            <button type="button" style="" class="package_select">포장선택</button>
            <h2>주문내역</h2>
            <ul class="box box04">
                <li>
                    <div></div>
                    <h3>규격포장</h3>
                </li>
                <li>
                    <ul>
                        <li>얼그레이 도넛</li>
                        <li>1개</li>
                        <li>3,500</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="paylist">
            <h2>적립금 <span>보유적립금 0원</span></h2>
            <input type="number" class="cash" disabled="" placeholder="1,000원 이상 시 사용 가능합니다">
            <button type="button" disabled="">전액사용</button>
            <div class="paperbag">
                <ul>
                    <li class="name">
                        <h2>종이쇼핑백</h2>
                    </li>
                    <li class="number-input">
                        <button type="button">-</button>
                        <input type="number" pattern="\d*" min="0" value="1">
                        <button type="button" disabled>+</button>
                        <h3>300</h3>
                    </li>
                </ul>
                <p>종이쇼핑백 구매 원치않을 경우 박스만 제공됩니다.</p>
            </div>
            <ul class="pay">
                <li>주문금액</li>
                <li>116,300원</li>
                <li>적립금 사용</li>
                <li>0원</li>
                <li>결제금액</li>
                <li>116,300원</li>
            </ul>
            <div class="notice notice_reserve">
                <h2>예약주문시 유의사항</h2>
                <p>- 픽업시 예약자명과 예약자의 전화 번호를 말씀해주세요.</p>
                <p>- 예약 취소는 예약일 당일을 제외한 픽업일 2일 전까지 가능합니다.</p>
                <p>- 주문 내역 확인은 [예약 내역 확인]에서 확인 하실 수 있습니다.</p>
                <p>- 제품 품질 유지를 위해 예약 시간 1시간 경과 시 상품은 폐기됩니다. (환불 및 픽업일 변경 불가)</p>
            </div>
            <div class="btn_area">
                <button type="button" class="on pay_button">결제하기</button>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="dialog">
    <div class="dialogbox display_none">
        <h1>알림
            <button type="button" class="btn_close">닫기</button>
        </h1>
        <div class="msg">
            <span>노티드 송리단길 2023-05-19 12:00:00 의 예약을 결제하시겠습니까?</span>
        </div>
        <div class="btn">
            <button type="button" class="btn_left">닫기</button>
            <button type="button" class="btn_right">확인</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        // 포장선택 클릭 시
        $(".container").on("click", ".package_select", function(){
            alert("현재 포장선택은 지원하지 않습니다");
            return;
        });

        // 결제하기 클릭 시
        $(".container").on("click", ".pay_button", function(){
            $(".dialogbox").removeClass("display_none");
        });

        // 다이얼로그 닫기 버튼 눌렀을 때
        $(".dialogbox .btn_close, .dialogbox .btn_left").on("click", function(){
            $(".dialogbox").addClass("display_none");
        });

        // 확인 버튼을 눌렀을 때
        $(".dialogbox .btn_right").on("click", function(){

            // 결제(주문) 처리
            orderSubmit();
        });

        function orderSubmit(){
            $.ajax({
                url: "/order/new",
                method: "POST",
                data: {

                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    console.log(result);
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == "500"){
                        alert("주문 처리에 실패했습니다");
                        return;
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

    </script>
</th:block>

</html>