<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>결제</h1>

        <input type="hidden" name="totalPrice" th:value="${cartDTO.totalPrice}">

        <div class="orderlist" th:object="${cartDTO}">
            <div class="store" th:text="*{'주문매장 : ' + storeDTO.name}"></div>
            <div class="store" th:text="${'주문일자 : ' + reserveDate}"></div>
            <button type="button" style="" class="package_select">포장선택</button>
            <h2>주문내역</h2>
            <ul class="box box04">
                <li>
                    <div></div>
                    <h3>규격포장</h3>
                </li>
                <li th:each="cartItem : *{cartItemDTOList}">
                    <ul th:object="${cartItem}">
                        <li th:text="*{itemDTO.name}"></li>
                        <li th:text="*{count + '개'}"></li>
                        <li th:text="${#numbers.formatDecimal(cartItem.itemDTO.price * cartItem.count, 3, 'COMMA', 0, 'POINT') + '원'}"></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="paylist">
            <h2>적립금 <span th:text="${'보유적립금 ' + #numbers.formatDecimal(member.reward, 3, 'COMMA', 0, 'POINT') + '원'}"></span></h2>
            <input type="number" class="cash" disabled="" placeholder="1,000원 이상 시 사용 가능합니다">
            <button type="button" disabled="">전액사용</button>
            <div class="paperbag">
                <ul>
                    <li class="name">
                        <h2>종이쇼핑백</h2>
                    </li>
                    <li class="number-input">
                        <button type="button" class="count_minus">-</button>
                        <input type="number" pattern="\d*" min="0" value="1" class="paperbag_count" readonly>
                        <button type="button" class="count_plus" disabled>+</button>
                        <h3 class="paperbag_price"></h3>
                    </li>
                </ul>
                <p>종이쇼핑백 구매를 원치않을 경우 박스만 제공됩니다.</p>
            </div>
            <ul class="pay">
                <li>주문금액</li>
                <li class="total_price" th:text="${#numbers.formatDecimal(cartDTO.totalPrice + 300, 3, 'COMMA', 0, 'POINT') + '원'}"></li>
                <li>적립금 사용</li>
                <li class="use_reward">0원</li>
                <li>결제금액</li>
                <li class="final_price" th:text="${#numbers.formatDecimal(cartDTO.totalPrice + 300, 3, 'COMMA', 0, 'POINT') + '원'}"></li>
            </ul>
            <div class="notice notice_reserve">
                <h2>예약주문시 유의사항</h2>
                <p>- 픽업시 예약자명과 예약자의 전화 번호를 말씀해주세요.</p>
                <p>- 예약 취소는 예약일 당일을 제외한 픽업일 2일 전까지 가능합니다.</p>
                <p>- 주문 내역 확인은 [예약 내역 확인]에서 확인 하실 수 있습니다.</p>
                <p>- 제품 품질 유지를 위해 예약 시간 1시간 경과 시 상품은 폐기됩니다. (환불 및 픽업일 변경 불가)</p>
            </div>
            <div class="btn_area">
                <button type="button" class="on pay_button">결제하기</button>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="dialog">
    <div class="dialogbox display_none">
        <h1>알림
            <button type="button" class="btn_close">닫기</button>
        </h1>
        <div class="msg">
            <span th:text="${cartDTO.storeDTO.name + ' ' + reserveDate}" class="pay_confirm_text"></span>의 예약을 결제하시겠습니까?
        </div>
        <div class="btn">
            <button type="button" class="btn_left">닫기</button>
            <button type="button" class="btn_right">확인</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        let paperbag = true; // 종이쇼핑백 사용 유무
        let useReward = 0; // 적립금 사용액
        let totalPrice = [[${cartDTO.totalPrice}]]; // 장바구니 상품 총액

        $(document).ready(function(){
            // 페이지 로드 완료 시

        });

        // 포장선택 클릭 시
        $(".container").on("click", ".package_select", function(){
            alert("현재 포장선택은 지원하지 않습니다");
            return;
        });

        // 결제하기 클릭 시
        $(".container").on("click", ".pay_button", function(){
            $(".dialogbox").removeClass("display_none");
        });

        // 다이얼로그 닫기 버튼 눌렀을 때
        $(".dialogbox .btn_close, .dialogbox .btn_left").on("click", function(){
            $(".dialogbox").addClass("display_none");
        });

        // 확인 버튼을 눌렀을 때
        $(".dialogbox .btn_right").on("click", function(){

            // 결제(주문) 처리
            orderSubmit();
        });

        // 종이쇼핑백 제거 버튼
        $(".number-input .count_minus").on("click", function(){
            $(".paperbag_count").val(0);

            $(this).prop("disabled", true);
            $(".number-input .count_plus").prop("disabled", false);

            paperbag = false;

            finalPriceCalc();
        });

        // 종이쇼핑백 추가 버튼
        $(".number-input .count_plus").on("click", function(){
            $(".paperbag_count").val(1);

            $(this).prop("disabled", true);
            $(".number-input .count_minus").prop("disabled", false);

            paperbag = true;

            finalPriceCalc();
        });

        function finalPriceCalc(){
            let finalPrice = totalPrice; // 종이쇼핑백 가격이 포함된 총 주문금액

            if(paperbag){
                finalPrice += 300;
            }

            let finalRewardPriceText = "";

            if(useReward > 0){
                let finalRewardPrice = finalPrice - useReward; // 적립금 사용이 포함된 총 결제금액
                finalRewardPriceText = finalRewardPrice.toLocaleString() + "원";
            }else{
                finalRewardPriceText = finalPrice.toLocaleString() + "원";
            }

            let finalPriceText = finalPrice.toLocaleString() + "원";

            $(".paylist .total_price").html(finalPriceText);
            $(".paylist .final_price").html(finalRewardPriceText);
        }

        // 주문 결제 처리하는 함수
        // 다른 건 전부 서버단에서 처리할 수 있고, 종이쇼핑백 유무 및 적립금 사용액만 추가로 보낸다
        function orderSubmit(){
            $.ajax({
                url: "/order/new",
                method: "POST",
                data: {
                    paperbag: paperbag, // 종이쇼핑백 사용 유무
                    useReward: useReward, // 적립금 사용액
                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    // 결제 완료 시 주문해주셔서 감사합니다. 3초 뒤 메인 페이지로 이동합니다로 이동하기
                    if(result.success === true){
                        location.href = "/order/complete";
                    }else{
                        alert(result.errorMessage);
                    }
                },
                error: function(jqXHR, status, error){
                    // 에러 메시지나 이런 건 컨트롤러단에서 전부 구현함
                    // 이쪽으로 넘어올 일이 없음
                    alert(jqXHR.responseText);
                }
            });
        }

    </script>
</th:block>

</html>