<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>주문상세보기</h1>

        <div class="orderdetail" th:object="${orderDTO}">
            <input type="hidden" name="orderId" id="orderId" th:value="*{id}">

            <h2 th:text="*{'주문번호 : ' + id}"></h2>
            <div class="detail_tab">
                <span th:text="${reserveDate}"></span><span>결제완료</span>
                <button type="button" class="btn_cancel">예약취소</button>
            </div>
            <ul class="store">
                <li><h2>주문매장</h2></li>
                <li th:text="*{storeDTO.name}"></li>
            </ul>
            <h2>주문내역</h2>
            <ul class="box box04">
                <li>
                    <div></div>
                    <h3>규격포장</h3>
                </li>
                <li th:each="orderItem : *{orderItemDTOList}">
                    <ul th:object="${orderItem}">
                        <li th:text="*{name}"></li>
                        <li th:text="*{count + '개'}"></li>
                        <li th:text="*{#numbers.formatInteger(price * count, 0, 'COMMA') + '원'}"></li>
                    </ul>
                </li>
            </ul>
            <div class="paylist">
                <ul class="pay">
                    <li>주문금액</li>
                    <li th:text="*{#numbers.formatInteger(totalPrice, 0, 'COMMA') + '원'}"></li>
                    <li>사용 적립금</li>
                    <li th:text="${#numbers.formatInteger(rewardHistoryDTO.point, 0, 'COMMA') + '원'}"></li>
                    <li>결제금액</li>
                    <li class="totalprice" th:text="*{#numbers.formatInteger(orderPrice, 0, 'COMMA') + '원'}"></li>
                    <li>결제일</li>
                    <li class="date" th:text="${reserveDate}"></li>
                </ul>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        let orderId = [[${orderDTO.id}]];

        $(".orderdetail .btn_cancel").on("click", function(){
            location.href = "/order/cancel/" + orderId;
        });

    </script>
</th:block>

</html>