<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>RESERVATION</h1>

        <!--/* 여기 아래부터를 mode에 따라 다르게 받으면 될 듯 */-->

        <!--/* 매장선택 부분 */-->
        <th:block th:if="${mode} == 'store'">
            <div class="order_tab">
                <ul class="tab_reserve">
                    <li class="on">
                        <a href="javascript:;">매장선택</a>
                    </li>
                    <li>
                        <a href="javascript:;">일자선택</a>
                    </li>
                    <li>
                        <a href="javascript:;">메뉴선택</a>
                    </li>
                </ul>
            </div>

            <div class="order_box">
                <div class="order_box_wrap">
                    <div class="order_box_header">
                        <div class="search_box">
                            <input type="text" id="search_word">
                            <button type="button">검색</button>
                        </div>
                    </div>

                    <ul class="storelist" id="stores">
                        <!--/* 이 부분도 Vue.js로 받기 */-->
                        <li v-for="store in stores" :key="store.id" :data-id="store.id" class="store_link">
                            <div class="thumb">
                                <img :src="store.storeImageDTO.imageUrl">
                            </div>
                            <input type="checkbox" :id="'store-' + store.id"><label :for="'store-' + store.id" class="store_name">{{ store.name }}</label>
                            <div class="contents" id="contents">
                                <table>
                                    <tr>
                                        <th>주소</th>
                                        <td>{{ store.address }}<a class="map">[지도보기]</a></td>
                                    </tr>
                                    <tr>
                                        <th>영업시간</th>
                                        <td>{{ store.openTime }} ~ {{ store.closeTime }}</td>
                                    </tr>
                                    <!--/* 걍 픽업가능시간도 영업시간이랑 같게 하겠음 */-->
                                    <tr>
                                        <th>픽업가능시간</th>
                                        <td>{{ store.openTime }} ~ {{ store.closeTime }}</td>
                                    </tr>
                                    <tr>
                                        <th>문의</th>
                                        <td>카카오톡 플러스 친구 <span class="kakao">[{{ store.name }}]</span> 으로 검색하여 이용해주세요.</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ store.description }}</td>
                                    </tr>
                                </table>
                                <div class="btn_area">
                                    <button type="button" class="go_date_pick">매장설정하기</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </th:block>

        <!--/* 일자선택 부분 */-->
        <th:block th:if="${mode} == 'date'">

            <input type="hidden" name="storeId" th:value="${storeId}">

            <div class="order_tab">
                <ul class="tab_reserve">
                    <li>
                        <a href="javascript:;" th:text="${storeName}"></a>
                    </li>
                    <li class="on">
                        <a href="javascript:;">일자선택</a>
                    </li>
                    <li>
                        <a href="javascript:;">메뉴선택</a>
                    </li>
                </ul>
            </div>

            <div class="reserve_wrap">

                <div class="reserve_date">
                    <!--/* cal 클래스 이 부분도 통째로 REST, Vue.js로 구현해야 함 */-->
                    <!--/* 이 부분도 Vue.js로 받기 */-->
                    <div class="cal" id="calendar" :data-year="calendar.year" :data-month="(calendar.month + 1)">
                        <div class="month">
                            <ul>
                                <li>
                                    <button type="button" class="reload_calendar_prev">&lt;</button>
                                </li>
                                <li><span>{{ calendar.year + '.' + (calendar.month + 1) }}</span></li>
                                <li>
                                    <button type="button" class="reload_calendar_next">&gt;</button>
                                </li>
                            </ul>
                        </div>
                        <ul class="weekdays">
                            <li>Su</li>
                            <li>Mo</li>
                            <li>Tu</li>
                            <li>We</li>
                            <li>td</li>
                            <li>Fr</li>
                            <li>Sa</li>
                        </ul>
                        <ul class="days">
                            <li v-for="(day, index) in calendar.days" :key="'day' + index">
                                <input type="radio" name="date" :id="'day' + index" :disabled="!day.active" :checked="findIndexOfActive(day) === index">
                                <label :for="'day' + index">
                                    {{ day.date === 0 ? '&emsp;' : day.date }}
                                </label>
                            </li>
                        </ul>
                        <div class="select">
                            <ul>
                                <li>
                                    <div></div>
                                    선택
                                </li>
                                <li>
                                    <div></div>
                                    불가
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="reserve_time">
                    <ul class="timetable">
                        <li><input type="radio" name="time" id="time0"><label for="time0">10:00</label></li>
                        <li><input type="radio" name="time" id="time1"><label for="time1">10:30</label></li>
                        <li><input type="radio" name="time" id="time2"><label for="time2">11:00</label></li>
                        <li><input type="radio" name="time" id="time3"><label for="time3">11:30</label></li>
                        <li><input type="radio" name="time" id="time4"><label for="time4">12:00</label></li>
                        <li><input type="radio" name="time" id="time5"><label for="time5">12:30</label></li>
                        <li><input type="radio" name="time" id="time6"><label for="time6">13:00</label></li>
                        <li><input type="radio" name="time" id="time7"><label for="time7">13:30</label></li>
                        <li><input type="radio" name="time" id="time8"><label for="time8">14:00</label></li>
                        <li><input type="radio" name="time" id="time9"><label for="time9">14:30</label></li>
                        <li><input type="radio" name="time" id="time10"><label for="time10">15:00</label></li>
                        <li><input type="radio" name="time" id="time11"><label for="time11">15:30</label></li>
                        <li><input type="radio" name="time" id="time12"><label for="time12">16:00</label></li>
                        <li><input type="radio" name="time" id="time13"><label for="time13">16:30</label></li>
                        <li><input type="radio" name="time" id="time14"><label for="time14">17:00</label></li>
                        <li><input type="radio" name="time" id="time15"><label for="time15">17:30</label></li>
                        <li><input type="radio" name="time" id="time16"><label for="time16">18:00</label></li>
                        <li><input type="radio" name="time" id="time17"><label for="time17">18:30</label></li>
                        <li><input type="radio" name="time" id="time18"><label for="time18">19:00</label></li>
                        <li><input type="radio" name="time" id="time19"><label for="time19">19:30</label></li>
                    </ul>
                    <div class="select">
                        <ul>
                            <li>
                                <div></div>
                                선택
                            </li>
                            <li>
                                <div></div>
                                불가
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="info">
                    <h2>예약주의사항</h2>
                    <p>예약은 최소 2일 전 ~ 최대 7일 전에만 가능합니다.</p>
                    <p>모든 메뉴 함께 픽업 가능한 일정이 노출됩니다.</p>
                </div>
            </div>

            <div class="btn_area">
                <button type="button" class="go_menu_pick">예약시간 설정하기</button>
            </div>

        </th:block>

        <!--/* 메뉴선택 부분 */-->
        <th:block th:if="${mode} == 'menu'">

            <input type="hidden" name="storeId" th:value="${storeId}">
            <input type="hidden" name="bookDate" th:value="${bookDate}">
            <input type="hidden" name="bookTime" th:value="${bookTime}">

            <div class="order_tab">
                <ul class="tab_reserve">
                    <li>
                        <a href="javascript:;" th:text="${storeName}"></a>
                    </li>
                    <li>
                        <a href="javascript:;">일자선택</a>
                    </li>
                    <li class="on">
                        <a href="javascript:;">메뉴선택</a>
                    </li>
                </ul>
            </div>

            <div class="order_box">
                <div class="order_box_wrap">
                    <div class="order_box_header">
                        <div class="search_box">
                            <input type="text" id="search_word">
                            <button type="button">검색</button>
                        </div>
                    </div>
                    <div class="category">
                        <input type="radio" name="category" id="category01" value="all" checked>
                        <label for="category01" data-category="">전체</label>
                        <input type="radio" name="category" id="category02" value="donut">
                        <label for="category02" style="" data-category="donut">도넛</label>
                        <input type="radio" name="category" id="category03" value="cake">
                        <label for="category03" style="" data-category="cake">케이크</label>
                        <input type="radio" name="category" id="category04" value="bakery">
                        <label for="category04" style="" data-category="bakery">베이커리</label>
                    </div>
                    <ul class="menulist" id="items">
                        <li v-for="item in items" :key="item.id" :data-id="item.id" class="item_link">
                            <div v-if="item.onStock === false" class="no_stock_item">
                                현재 매장에 재고가 없는 상품입니다
                            </div>
                            <a class="go_menu_detail">
                                <div>
                                    <img :src="item.itemImageDTO.imageUrl" />
                                </div>
                                <p>{{ item.name }}</p>
                                <p>{{ formatPrice(item.price) }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </th:block>

        <!--/* 메뉴 상세보기 부분 */-->
        <th:block th:if="${mode} == 'menuDetail'">

            <input type="hidden" name="storeId" th:value="${storeId}">
            <input type="hidden" name="bookDate" th:value="${bookDate}">
            <input type="hidden" name="bookTime" th:value="${bookTime}">
            <input type="hidden" name="itemId" th:value="${itemId}">

            <div class="order_tab">
                <ul class="tab_reserve">
                    <li>
                        <a href="javascript:;" th:text="${storeName}"></a>
                    </li>
                    <li>
                        <a href="javascript:;">일자선택</a>
                    </li>
                    <li class="on">
                        <a href="javascript:;">메뉴선택</a>
                    </li>
                </ul>
            </div>

            <div class="order_box">
                <div class="order_box_wrap">
                    <div class="boxinner" th:object="${itemFormDTO}">
                        <div class="inform01">
                            <div class="photo">
                                <img th:src="*{itemImageDTO.imageUrl}">
                            </div>
                        </div>
                        <div class="inform03">
                            <ul class="price">
                                <input type="hidden" name="itemPrice" th:value="*{price}">
                                <li><h2 th:text="*{name}"></h2></li>
                                <li th:text="*{nameEng}"></li>
                                <li th:text="${#numbers.formatDecimal(itemFormDTO.price, 3, 'COMMA', 0, 'POINT') + '원'}"></li>
                            </ul>
                            <ul class="information">
                                <li class="txt" th:text="*{description}"></li>
                                <li class="allergy" style="">
                                    <h3>알레르기 유발 요인</h3>
                                    <input type="checkbox" id="btn_open01">
                                    <label for="btn_open01">열기</label>
                                    <p th:text="*{allergy}"></p>
                                </li>
                                <li class="nutrition" style="">
                                    <h3>원산지정보</h3>
                                    <input type="checkbox" id="btn_open02">
                                    <label for="btn_open02">열기</label>
                                    <p th:text="*{origin}"></p>
                                </li>
                            </ul>
                            <div class="total">
                                <div class="number-input">
                                    <button type="button" class="count_minus" disabled>-</button>
                                    <input type="number" pattern="\d*" min="0" max="2" name="itemCount" class="item_count" value="1">
                                    <button type="button" class="count_plus">+</button>
                                    <!--/* 아래 전체 금액 부분은 수량 바뀔 때마다 업데이트 */-->
                                    <h3 th:text="${#numbers.formatDecimal(itemFormDTO.price, 3, 'COMMA', 0, 'POINT') + '원'}" class="total_price"></h3>
                                </div>
                            </div>
                            <div class="now_stock_wrap">
                                현재 재고가 <span class="now_stock"></span>개 있습니다
                            </div>
                        </div>
                    </div>
                    <div class="btn_area">
                        <button type="button" class="on order_button">장바구니에 담기</button>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</th:block>

<!--/* footer 아래에 들어갈 다이얼로그 박스 */-->
<th:block layout:fragment="dialog">
    <div class="dialogbox display_none">
        <h1>알림
            <button type="button" class="btn_close">닫기</button>
        </h1>
        <div class="msg">해당 상품을 장바구니에 담았습니다.</div>
        <div class="btn">
            <button type="button" class="btn_left">더 담기</button>
            <button type="button" class="btn_right">장바구니 가기</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">

    <script>
        // 에러 메시지 출력
        $(document).ready(function(){
            let errorMessage = "[[${errorMessage}]]";
            if(errorMessage){
                alert(errorMessage);
            }
        });
    </script>

    <!--/* 매장선택 부분 */-->
    <th:block th:if="${mode} == 'store'">
        <script>

            $(document).ready(function(){
                loadSearchItems("");
            });

            // Vue 인스턴스 생성 - 매장 리스트
            const stores = new Vue({
                el: "#stores",
                data: {
                    stores: []
                }
            });

            // 검색어로 매장 리스트 받아오는 함수
            function loadSearchItems(searchWord){
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: "/store/search",
                    method: "POST",
                    data: {
                        searchWord: searchWord,
                    },
                    cache: false,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(result, status){
                        stores.stores = result;
                    },
                    error: function(jqXHR, status, error){
                        alert(jqXHR.responseText);
                    }
                });
            }

            // 매장 검색 input 값 변화 시 다시 읽어오기
            $("#search_word").on("change", function(){
                let searchWord = $(this).val();

                loadSearchItems(searchWord);
            });

            // 매장 지도보기 시 네이버 지도에서 검색
            $(".order_box_wrap").on("click", ".storelist .contents .map", function(){
                let storeName = $(this).closest(".store_link").find(".store_name").html().trim();

                window.open("https://map.naver.com/v5/search/" + storeName, "_blank");
            });

            // 매장설정하기 누르면 일자선택으로 간다
            $(".order_box_wrap").on("click", ".storelist .go_date_pick", function(){
                let storeId = $(this).closest(".store_link").data("id");

                location.href = "/order/date-pick?storeId=" + storeId;
            });

        </script>

    </th:block>

    <!--/* 일자선택 부분 */-->
    <th:block th:if="${mode} == 'date'">
        <script>

            $(document).ready(function(){
                // 페이지 로드 완료되면 바로 loadDatePickCalendar로 달력 정보 받아옴
                loadDatePickCalendar(0, 0);
            });

            // Vue 인스턴스 생성 - 달력 정보
            const calendar = new Vue({
                el: "#calendar",
                data: {
                    calendar: []
                },
                methods: {
                    // 현재 day 요소의 인덱스를 넣어 해당 인덱스가 첫번째로 활성화된 active인지 확인한다
                    findIndexOfActive(day){
                        // 찾으면 인덱스 반환, 아니면 -1을 반환한다
                        let index = this.calendar.days.findIndex(item => item.active === true);

                        return index;
                    }
                }
            });

            // 예약 날짜 중 예약 불가능한 날짜를 눌렀을 때
            // timetable 클래스 내의 모든 input을 disabled한다
            $(".reserve_wrap").on("click", ".reserve_date .days input[type=radio]:disabled + label", function(){
                // 일단 선택했던 속성 제거해야 함
                $(".reserve_time .timetable").find("input[type='radio']").prop("checked", false).prop("disabled", true);
            });

            // 예약 날짜 중 예약 가능한 날짜를 눌렀을 때
            $(".reserve_wrap").on("click", ".reserve_date .days input[type=radio]:enabled + label", function(){
                $(".reserve_time .timetable").find("input[type='radio']").prop("checked", false).prop("disabled", false);
            });

            // 예약 날짜 고르는 달력 받아오는 함수
            function loadDatePickCalendar(year, month){

                $.ajax({
                    url: "/order/date-pick/calendar?year=" + year + "&month=" + month,
                    method: "GET",
                    cache: false,
                    success: function(result, status){
                        calendar.calendar = result;

                        if(result.activeExists === false){
                            $(".reserve_time .timetable").find("input[type='radio']").prop("checked", false).prop("disabled", true);
                        }else{
                            $(".reserve_time .timetable").find("input[type='radio']").prop("checked", false).prop("disabled", false);
                        }
                    },
                    error: function(jqXHR, status, error){
                        alert(jqXHR.responseText);
                    }
                });
            }

            // 예약 달력에서 이전, 다음 버튼 누를 때 다시 받아오게 하기
            // 달력 이전 버튼
            $(".reserve_wrap").on("click", ".reload_calendar_prev", function(){
                // 이번 달 연월 받아옴
                // let year = $("#calendar").data("year");
                // let month = $("#calendar").data("month");
                // 주의! 위와 같이 data()를 사용하면 jQuery와 Vue의 매커니즘이 다르기 때문에 계속 이전 값이 남아있게 된다. 그러므로 Vue의 데이터를 직접 사용해야 한다.
                let year = calendar.calendar.year;
                let month = calendar.calendar.month;

                // 다음 달 연월 계산
                if(month - 1 < 0){
                    year -= 1;
                    month = 11;
                }else{
                    month--;
                }

                // 선택되어 있는 checked 해제하기
                $(".reserve_date .days input[type=radio]").prop("checked", false);

                loadDatePickCalendar(year, month);
            });

            // 달력 다음 버튼
            $(".reserve_wrap").on("click", ".reload_calendar_next", function(){
                // 이번 달 연월 받아옴
                let year = calendar.calendar.year;
                let month = calendar.calendar.month;

                if(month + 1 > 11){
                    year += 1;
                    month = 0;
                }else{
                    month++;
                }

                // 선택되어 있는 checked 해제하기
                $(".reserve_date .days input[type=radio]").prop("checked", false);

                loadDatePickCalendar(year, month);
            });

            // 예약시간 설정하기 누르면 메뉴선택으로 간다
            $(".go_menu_pick").on("click", function(){
                // 기존의 storeId와 함께 bookDate, bookTime을 넘겨줘야 함

                let storeId = $("input[name='storeId']").val();

                try{
                    let year = calendar.calendar.year;
                    let month = (calendar.calendar.month + 1).toString().padStart(2, '0'); // 앞에 0으로 채워서 두자리로 만듦
                    let day = $(".reserve_date .days input[type='radio']:checked + label").html().trim().padStart(2, '0');
                    let date = year + "-" + month + "-" + day;
                    let time = $(".reserve_time input[name='time']:checked + label").html().trim() + ":00";

                    // 일단 유효성 검사는 넘김

                    location.href = "/order/menu-pick?storeId=" + storeId + "&bookDate=" + date + "&bookTime=" + time;

                }catch(error){
                    alert("날짜와 시간을 선택해주세요");
                    return;
                }
            });

        </script>
    </th:block>

    <!--/* 메뉴선택 부분 */-->
    <th:block th:if="${mode} == 'menu'">
        <script>

            let storeId = $("input[name='storeId']").val();
            let bookDate = $("input[name='bookDate']").val();
            let bookTime = $("input[name='bookTime']").val();

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $(document).ready(function(){
                // 페이지 로드 완료되면 바로 전체 상품 불러옴
                loadItems("all", "", storeId);
            });

            // Vue 인스턴스 생성 - 상품 리스트
            const items = new Vue({
                el: "#items",
                data: {
                    items: []
                },
                methods: {
                    formatPrice(price){
                        return price.toLocaleString();
                    }
                }
            });

            // 카테고리 및 검색어로 상품 리스트 받아오는 함수
            function loadItems(category, searchWord, storeId){

                $.ajax({
                    url: "/menu/search/storeItem",
                    method: "POST",
                    data: {
                        category: category,
                        searchWord: searchWord,
                        storeId: storeId,
                    },
                    cache: false,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(result, status){
                        console.log(result);
                        items.items = result;
                    },
                    error: function(jqXHR, status, error){
                        alert(jqXHR.responseText);
                    }
                });
            }

            // 카테고리 클릭 시 jQuery ajax + Vue.js로 화면에 뿌리기
            $(".category label").on("click", function(){
                let category = $(this).data("category");

                if(!category){
                    category = "all";
                }

                loadItems(category, "", storeId);
            });

            // 검색 input 값 변화 시 다시 읽어오기
            $("#search_word").on("change", function(){
                let category = $(".category input[name='category']:checked").val();
                let searchWord = $(this).val();

                loadItems(category, searchWord, storeId);
            });

            $(".order_box").on("click", ".go_menu_detail", function(){
                // 넘어갈 때 storeId, bookDate, bookTime, menuId(itemId) 필요함
                let itemId = $(this).closest(".item_link").data("id");

                location.href = "/order/menu-pick-detail?storeId=" + storeId + "&bookDate=" + bookDate + "&bookTime=" + bookTime + "&itemId=" + itemId;
            });

        </script>
    </th:block>

    <!--/* 메뉴 상세보기 부분 */-->
    <th:block th:if="${mode} == 'menuDetail'">
        <script>

            let storeId = $("input[name='storeId']").val();
            let itemId = $("input[name='itemId']").val();
            let bookDate = $("input[name='bookDate']").val();
            let bookTime = $("input[name='bookTime']").val();

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $(document).ready(function(){
                // 페이지 로드 완료되면 재고량 업데이트함
                checkStock();
            });

            // 수량 감소 눌렀을 때
            $(".number-input .count_minus").on("click", function(){
                // 재고 표시를 업데이트한다
                checkStock().then(function(stock){ // 비동기가 끝난 후 처리하기 위해 then으로 감싸주었다.

                    // 최소는 1이어야 하고 만약 이제 1이 됐으면 disabled 추가해줘야 함
                    $(".number-input .count_plus").prop("disabled", false);

                    let now_count = $(".number-input input").val();

                    if(now_count <= 1){
                        alert("최소 1개를 주문해야 합니다");
                        return;
                    }

                    now_count--;
                    $(".number-input input").val(now_count);

                    if(now_count == 1){
                        // $(this).prop("disabled", true);
                        // then 안쪽에 감싸주어서 this가 바뀌었다. 명시적으로 찾아야 한다
                        $(".number-input .count_minus").prop("disabled", true);
                    }

                    // 전체 금액 계산해서 업데이트한다.
                    priceUpdate(now_count);
                });
            });

            // 수량 증가 눌렀을 때
            $(".number-input .count_plus").on("click", function(){
                // 재고 표시를 업데이트한다
                checkStock().then(function(stock){ // 비동기가 끝난 후 처리하기 위해 then으로 감싸주었다.

                    let max = 50;
                    if(max > stock){
                        max = stock; // 재고치보다 높으면 안 됨
                    }

                    // 무조건 -버튼의 disabled 없애줘야 함
                    // 최대값은 50까지 할 것임. 이제 50이 됐으면 disabled 추가해줘야 함

                    $(".number-input .count_minus").prop("disabled", false);

                    let now_count = $(".number-input input").val();

                    if(now_count >= max){
                        alert("최대 " + max + "개까지 주문 가능합니다");
                        return;
                    }

                    now_count++;
                    $(".number-input input").val(now_count);

                    if(now_count == max){
                        $(".number-input .count_plus").prop("disabled", true);
                    }

                    // 전체 금액 계산해서 업데이트한다.
                    priceUpdate(now_count);
                });
            });

            // 수량이 어떤 방법으로든 변했을 때
            $(".number-input input").on("change", function(){
                // 재고 표시를 업데이트한다
                checkStock().then(function(stock){ // 비동기가 끝난 후 처리하기 위해 then으로 감싸주었다.

                    let max = 50;
                    if(max > stock){
                        max = stock; // 재고치보다 높으면 안 됨
                    }

                    let now_count = $(".number-input input").val();

                    if(now_count < 1){
                        alert("최소 1개를 주문해야 합니다");
                        now_count = 1;
                        $(".number-input input").val(1);
                    }

                    if(now_count > max){
                        alert("최대 " + max + "개까지 주문 가능합니다");
                        now_count = max;
                        $(".number-input input").val(max);
                    }

                    if(now_count == 1){
                        $(".number-input .count_plus").prop("disabled", false);
                        $(".number-input .count_minus").prop("disabled", true);
                    }else if(now_count == max){
                        $(".number-input .count_minus").prop("disabled", false);
                        $(".number-input .count_plus").prop("disabled", true);
                    }else{
                        $(".number-input .count_minus").prop("disabled", false);
                        $(".number-input .count_plus").prop("disabled", false);
                    }

                    // 전체 금액 계산해서 업데이트한다.
                    priceUpdate(now_count);
                });
            });

            // 금액 계산 후 금액 업데이트하는 함수
            function priceUpdate(now_count){
                let item_price = $("input[name='itemPrice']").val();
                let total_price = item_price * now_count;
                total_price = total_price.toLocaleString() + "원";
                $(".number-input .total_price").html(total_price);
            }

            // 재고를 REST로 파악해서 해당 재고만큼만 담을 수 있어야 함
            function checkStock(){
                // 재고를 실시간으로 조회해서 보이는 재고를 업데이트하도록 한다

                // 비동기적으로 처리하기 위해 Promise를 쓰도록 하겠다
                return new Promise(function(resolve, reject) {

                    $.ajax({
                        url: "/order/checkStock",
                        method: "GET",
                        data: {
                            storeId: storeId,
                            itemId: itemId,
                        },
                        cache: false,
                        success: function (result, status) {
                            let stock = result;
                            $(".now_stock_wrap .now_stock").html(stock);

                            resolve(stock);
                        },
                        error: function (jqXHR, status, error) {
                            alert(jqXHR.responseText);
                        }
                    });
                });
            }

            // 장바구니에 담기 처리
            $(".order_box .order_button").on("click", function(){

                // 장바구니에 담기 시 현재 장바구니에 담긴 매장과 같으면 현재 장바구니에 추가만 하고, 시간은 현재 고른 걸로 업데이트한다.
                // 만약 현재 장바구니에 담긴 매장과 다르면 장바구니 삭제 후 다시 추가하는 것으로 한다.

                // 일단 넘어갈 값부터 다 가져온다
                let count = $("input[name='itemCount']").val();

                // 일단 장바구니에 담기 전, 내 장바구니가 기존에 있으면 그 장바구니의 매장과 같은지 확인한다
                $.ajax({
                    url: "/cart/storeCheck",
                    method: "GET",
                    data: {
                        storeId: storeId, // 매장 정보만 보내면 됨
                    },
                    cache: false,
                    success: function (result, status) {
                        // 성공 시
                        if(result === true){ // 기존 장바구니가 없거나 기존 장바구니의 매장과 추가할 매장이 다름
                            // 바로 장바구니에 담기
                            addToCart(count);
                        }else{ // 기존 장바구니가 있음
                            let confirm_text = confirm("기존 장바구니에 담긴 매장과 다릅니다. 장바구니를 비우고 새로 담으시겠습니까? (기존 매장에서 추가하실 경우 장바구니 페이지에서 예약상품추가를 이용해주세요)");

                            if(confirm_text){
                                addToCart(count);
                            }
                        }
                    },
                    error: function (jqXHR, status, error) {
                        alert(jqXHR.responseText);
                    }
                });
            });

            // 장바구니에 담기 처리
            function addToCart(count){

                // 장바구니에 담기
                $.ajax({
                    url: "/cart/add",
                    method: "POST",
                    data: {
                        storeId: storeId,
                        itemId: itemId,
                        bookDate: bookDate,
                        bookTime: bookTime,
                        count: count,
                    },
                    cache: false,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result, status) {
                        // 성공 시 dialogbox를 띄운다.

                        $(".dialogbox").removeClass("display_none");
                    },
                    error: function (jqXHR, status, error) {
                        if(jqXHR.status == "500"){
                            alert("장바구니 담기 중 에러가 발생했습니다");
                        }else{
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }

            // 다이얼로그 닫기 버튼 눌렀을 때
            $(".dialogbox .btn_close").on("click", function(){
                $(".dialogbox").addClass("display_none");
            });

            // 더 담기 버튼을 눌렀을 때
            $(".dialogbox .btn_left").on("click", function(){
                // 다시 아래와 같은 주소로 가야 함
                // http://localhost:8888/order/menu-pick?storeId=1&bookDate=2023-05-19&bookTime=13:30:00
                location.href  = "/order/menu-pick?storeId=" + storeId + "&bookDate=" + bookDate + "&bookTime=" + bookTime;
            });

            // 장바구니 가기 버튼을 눌렀을 때
            $(".dialogbox .btn_right").on("click", function(){
                location.href = "/cart";
            });


        </script>

    </th:block>

</th:block>

</html>