<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>주문상세보기</h1>

        <div class="orderdetail" th:object="${orderDTO}">
            <input type="hidden" name="orderId" id="orderId" th:value="*{id}">

            <h2 th:text="*{'주문번호 : ' + id}"></h2>
            <div class="detail_tab">
                <!--/* 주문완료 상태의 경우 */-->
                <th:block th:if="${#strings.equals(orderDTO.status, 'ORDER')}">
                    <span th:text="${reserveDate}"></span><span>예약 및 결제완료</span>
                    <button type="button" class="btn_cancel">예약취소</button>
                </th:block>

                <!--/* 주문취소 상태의 경우 */-->
                <th:block th:if="${#strings.equals(orderDTO.status, 'CANCEL')}">
                    <span th:text="${reserveDate}"></span><span>취소완료</span>
                    <div class="cancel_data">
                        <p>주문취소된 주문서입니다.</p>
                        <ul>
                            <th:block th:switch="*{cancelType.toString()}">
                                <li th:case="MIND">단순변심</li>
                                <li th:case="MISTAKE">주문실수</li>
                                <li th:case="SCHEDULE">일정불가</li>
                                <li th:case="ETC">기타</li>
                            </th:block>
                            <li th:text="*{cancelDescription}"></li>
                        </ul>
                    </div>
                </th:block>
            </div>
            <ul class="store">
                <li><h2>주문매장</h2></li>
                <li th:text="*{storeDTO.name}"></li>
            </ul>
            <h2>주문내역</h2>
            <ul class="box box04">
                <li>
                    <div></div>
                    <h3>규격포장</h3>
                </li>
                <li th:each="orderItem : *{orderItemDTOList}">
                    <ul th:object="${orderItem}">
                        <li th:text="*{name}"></li>
                        <li th:text="*{count + '개'}"></li>
                        <li th:text="*{#numbers.formatInteger(price * count, 0, 'COMMA') + '원'}"></li>
                    </ul>
                </li>
                <li th:if="*{paperBagUsed == true}">
                    <ul>
                        <li th:text="종이쇼핑백"></li>
                        <li th:text="1개"></li>
                        <li th:text="300원"></li>
                    </ul>
                </li>
            </ul>
            <div class="paylist">
                <ul class="pay">
                    <li>주문금액</li>
                    <li th:text="*{#numbers.formatInteger(totalPrice, 0, 'COMMA') + '원'}"></li>
                    <li>사용 적립금</li>
                    <li th:text="${#numbers.formatInteger(rewardHistoryDTO.point, 0, 'COMMA') + '원'}"></li>
                    <li>결제금액</li>
                    <li class="totalprice" th:text="*{#numbers.formatInteger(orderPrice, 0, 'COMMA') + '원'}"></li>
                    <li>결제일</li>
                    <li class="date" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></li>

                    <th:block th:if="${#strings.equals(orderDTO.status, 'CANCEL')}">
                        <li>결제취소금액</li>
                        <li class="cancelprice" th:text="*{#numbers.formatInteger(orderPrice, 0, 'COMMA') + '원'}"></li>
                        <li>결제취소일</li>
                        <li class="date" th:text="*{#temporals.format(updateDate, 'yyyy-MM-dd HH:mm:ss')}"></li>
                    </th:block>
                </ul>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        let orderId = [[${orderDTO.id}]];

        $(".orderdetail .btn_cancel").on("click", function(){
            location.href = "/order/cancel/" + orderId;
        });

    </script>
</th:block>

</html>