<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>RESERVATION</h1>

        <div class="order_tab">
            <ul class="tab_reserve">
                <li><a>매장선택</a></li>
                <li><a>일자선택</a></li>
                <li><a>메뉴선택</a></li>
            </ul>
        </div>

        <div class="order_box">
            <div class="order_box_wrap">
                <div class="order_box_header">
                    <div class="search_box">
                        <input type="text">
                        <button type="button">검색</button>
                    </div>
                </div>

                <ul class="storelist">
                    <!--/* 이 부분도 Vue.js로 받기 */-->

                </ul>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="script">


</th:block>

</html>