<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <th:block th:switch="${boardFormDTO.category}">
            <h1 th:case="notice">공지사항</h1>
            <h1 th:case="faq">자주묻는질문</h1>
            <h1 th:case="qna">1:1문의</h1>
            <h1 th:case="event">EVENT</h1>
        </th:block>

        <div class="board_view" th:object="${boardFormDTO}">
            <input type="hidden" th:id="*{id}">

            <div class="board_title">
                <h2 th:text="*{subject}"></h2>
                <p style="" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm')}"></p>
            </div>
            <div class="board_contents"><th:block th:text="*{content}"></th:block>
                <th:block th:if="*{boardImageDTO}">
                    <div class="board_image_wrap">
                        <img th:src="*{boardImageDTO.imageUrl}" alt="게시글 이미지">
                    </div>
                </th:block>
            </div>
            <div class="btn_area">
                <button type="button" class="btn_list">목록</button>

                <th:block th:if="${isAdmin == true}">
                    <button type="button" class="btn_modify">수정</button>
                    <button type="button" class="btn_delete">삭제</button>
                </th:block>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        let category = "[[${category}]]";
        let boardId = [[${boardId}]];

        // 목록으로 가기
        $(".board_view .btn_list").on("click", function(){
            location.href = "/board/" + category;
        });

        // 게시글 수정 페이지로 가기
        $(".board_view .btn_modify").on("click", function(){
            location.href = "/admin/board/" + boardId;
        });

        // 삭제하기 (REST)
        $(".board_view .btn_delete").on("click", function(){
            let confirm_text = confirm("정말 삭제하시겠습니까?");

            if(!confirm_text){
                return;
            }

            deleteBoard();
        });

        // 게시글 삭제 함수
        function deleteBoard(){

            let url = "/admin/board/" + boardId;

            $.ajax({
                url: url,
                type: "DELETE",
                data: {
                    boardId: boardId,
                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    alert("게시글을 삭제했습니다");
                    location.href = "/admin/board";
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == "500"){
                        alert("게시글 삭제에 실패했습니다");
                        return;
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }


    </script>
</th:block>

</html>