<!-- View 기본 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<th:block layout:fragment="css"></th:block>

<div layout:fragment="content">
    <div class="container">
        <th:block th:switch="${rule}">
            <h1 th:case="web">이용약관</h1>
            <h1 th:case="privacy">개인정보처리방침</h1>
            <h1 th:case="location">위치기반서비스이용약관</h1>
        </th:block>
    </div>
</div>

<th:block layout:fragment="script"></th:block>

</html>