<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>회원정보 수정</h1>

        <div class="login">
            <div class="login_outinfo">
                <p>회원님의 정보보호를 위해 비밀번호를 재확인하고 있습니다.</p>
            </div>
            <ul>
                <li>
                    <label>이메일</label> <th:block th:text="${memberDTO.email}">jungmin09172</th:block>
                </li>
                <li>
                    <label>비밀번호</label>
                    <input type="password" id="password" autocomplete="off">
                </li>
            </ul>
            <button type="button" class="before_modify_submit">다음</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");



    </script>
</th:block>

</html>