<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>로그인</h1>

        <form action="/member/login" method="post" role="form" class="knotted_login_form">
            <ul>
                <li>
                    <label for="email">이메일</label>
                    <input type="text" name="email" id="email" placeholder="이메일을 입력해주세요">
                </li>
                <li>
                    <label for="password">비밀번호</label>
                    <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요">
                </li>
            </ul>
            <p>
                <a th:href="@{/member/findId}">아이디찾기</a>
                <a th:href="@{/member/findPw}">비밀번호찾기</a>
            </p>
            <button type="button" class="knotted_login_submit">로그인</button>
            <a th:href="@{/member/join}" class="join">회원가입</a>

            <!--/* CSRF 공격 방지용 */-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 로그인 실패 시 에러 메시지 출력
        $(document).ready(function(){
            let errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage); // 에러 메시지 출력
                history.replaceState(null, null, '/member/login'); // 현재 URL 히스토리 바꿈
            }
        });

        // 로그인 처리 전 유효성 검사 등
        $(".knotted_login_submit").on("click", function(){
            let email = $("input#email").val();

            // 일단 빈 값 있는지 검사
            if(!($("input#email").val())){
                alert("이메일을 입력해주세요");
                return;
            }

            // 이메일 형식 검사
            if(!validateEmail(email)){
                alert("이메일 형식으로 입력해주세요");
                return;
            }

            if(!($("input#password").val())){
                alert("비밀번호를 입력해주세요");
                return;
            }

            $(".knotted_login_form").submit();
        });

    </script>
</th:block>

</html>