<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <div class="header_admin">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start knotted_top_wrap">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 knotted_top_menu">
                    <li><a th:href="@{/admin/member}" class="nav-link px-2 text-black">회원 관리</a></li>
                    <li><a th:href="@{/admin/store}" class="nav-link px-2 text-black">매장 관리</a></li>
                    <li><a th:href="@{/admin/item}" class="nav-link px-2 text-black">상품 관리</a></li>
                    <li><a th:href="@{/admin/order}" class="nav-link px-2 text-black">예약 관리</a></li>
                    <li><a th:href="@{/admin/board}" class="nav-link px-2 text-black">게시판 관리</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

</html>