<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <div class="header_admin">
        <div class="container">
            <div class="knotted_top_wrap">
                <ul class="knotted_top_menu">
                    <li><a th:href="@{/admin/member}">회원 관리</a></li>
                    <li><a th:href="@{/admin/store}">매장 관리</a></li>
                    <li><a th:href="@{/admin/item}">상품 관리</a></li>
                    <li><a th:href="@{/admin/order}">예약 관리</a></li>
                    <li><a th:href="@{/admin/board}">게시판 관리</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

</html>