<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <ul class="footer_board">
                <li><a th:href="@{/board/notice}">공지사항</a></li>
                <li><a th:href="@{/board/faq}">자주묻는질문</a></li>
                <li><a th:href="@{/board/qna}">1:1문의</a></li>
                <li><a th:href="@{/rule/web}">이용약관</a></li>
                <li><a th:href="@{/rule/privacy}">개인정보처리방침</a></li>
                <li><a th:href="@{/rule/location}">위치기반서비스이용약관</a></li>
            </ul>
            <ul class="footer_info">
                <li>프로젝트명 : 노티드 클론코딩 및 기능 추가</li>
                <li>만든이 : 황정민</li>
                <li>전화번호 : 010-2729-5930</li>
                <li>GitHub : <a href="https://github.com/jungmin0917">github.com/jungmin0917</a></li>
            </ul>
            <p>Copyright ⓒ 2023 Knotted. All Rights Reserved.</p></div>
    </footer>
</th:block>

</html>