<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <ul class="footer_board">
                <li><a th:href="@{/board/notice}" class="nav-link text-black">공지사항</a></li>
                <li><a th:href="@{/board/faq}" class="nav-link text-black">자주묻는질문</a></li>
                <li><a th:href="@{/board/qna}" class="nav-link text-black">1:1문의</a></li>
                <li><a th:href="@{/rule/web}" class="nav-link text-black">이용약관</a></li>
                <li><a th:href="@{/rule/privacy}" class="nav-link text-black">개인정보처리방침</a></li>
                <li><a th:href="@{/rule/location}" class="nav-link text-black">위치기반서비스이용약관</a></li>
            </ul>
            <ul class="footer_info">
                <li>프로젝트명 : 노티드 클론코딩 및 기능 추가</li>
                <li>제작자 : 황정민</li>
                <li>전화번호 : 01027295930</li>
                <li>사는 곳 : 경기도 안양시</li>
            </ul>
            <p>Copyright ⓒ 2023 Knotted. All Rights Reserved.</p></div>
    </footer>
</th:block>

</html>