<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <header>
        <div class="container">
            <div class="h_logo">
                <a href="/" class="knotted_main">메인으로</a>
            </div>
            <nav>
                <input type="checkbox" id="toggle"><label for="toggle">메인메뉴</label>
                <div class="box">
                    <ul class="gnb">
                        <li><a th:href="@{/map}">MAP</a></li>
                        <li><a th:href="@{/order}">RESERVATION</a></li>
                        <li><a th:href="@{/menu}">MENU</a></li>
                        <li><a th:href="@{/store}">LOCATION</a></li>
                        <li><a th:href="@{/brand}">BRAND</a></li>
                    </ul>
                    <ul class="h_member">
                        <li class="h_admin" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a th:href="@{/admin}">
                                ADMIN
                            </a>
                        </li>
                        <li class="h_login" sec:authorize="isAnonymous()">
                            <a th:href="@{/member/login}">
                                LOGIN
                            </a>
                        </li>
                        <li class="h_logout" sec:authorize="isAuthenticated()">
                            <a th:href="@{/member/logout}">
                                LOGOUT
                            </a>
                        </li>
                        <li class="h_mypage">
                            <a th:href="@{/mypage}">
                                MY PAGE
                            </a>
                        </li>
                        <li class="h_cart">
                            <a th:href="@{/cart}">
                                CART
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</th:block>

</html>