<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/admin}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>매장 관리</h1>

        <div class="sub_container">
            <div class="list_top_wrap">
                <a th:href="@{/admin/store/new}">등록하기</a>
            </div>

            <!--/* 아래 부분은 나중에 REST로 실제 리스트로 대체할 부분임 */-->
            <ul class="store_list object_list" th:each="store : ${storeList}">
                <li th:object="${store}">
                    <div class="object_list_left">
                        <a href="javascript:;" class="object_link">
                            <img th:src="@{/images/store_image_ex.jpg}" alt="매장 사진">
                        </a>
                        <div class="object_description">
                            <div class="object_subject" th:text="*{name}"></div>
                            <div class="object_content" th:text="*{address}"></div>
                            <div class="object_etc">
                                <span class="start_time" th:text="*{openTime}"></span> ~ <span class="end_time" th:text="*{closeTime}"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="object_list_right">
                        <li>
                            <a href="javascript:;">보기</a>
                        </li>
                        <li>
                            <a href="javascript:;">수정</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="delete">삭제</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>

</html>