<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/error}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <a href="/" class="knotted_main">메인으로</a>
        <h1>404 Not Found</h1>
        <div class="knotted_error">
            없는 페이지입니다
        </div>
        <a href="javascript:;" class="knotted_go_back">이전 페이지로 돌아가기</a>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>

</html>