<!-- View 기본 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/error}">

<th:block layout:fragment="css"></th:block>

<div layout:fragment="content">
    <div class="container">
        <a href="/" class="knotted_main">메인으로</a>
        <h1>405 Method Not Allowed</h1>
        <div class="knotted_error">
            허용되지 않는 메소드입니다
        </div>
        <a href="javascript:;" class="knotted_go_back">이전 페이지로 돌아가기</a>
    </div>
</div>

<th:block layout:fragment="script"></th:block>

</html>