
/* 사이트 공통으로 들어갈 CSS */
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);

html {
    font-size: 62.5%;
    background-color: #fdfaf7;
    background-image: url("/images/watermark_transparent.png");
    background-repeat: repeat;
}

body, div, p, span, h1, h2, h3 {
    font-size: 16px;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #282828;
    word-break: keep-all;
}

a {color: #000; text-decoration: none; outline: none}

ul li {
    list-style: none;
}

input[type=text], input[type=password] {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #282828;
    margin: 0 1px;
    font-size: 1em;
}

header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(253,250,247,0.8);
}

header .container{
    height: 100%;
}

header .container .knotted_top_wrap{
    height: 100%;
}

header .knotted_main{
    width: 80px;
    height: 36px;
    background: url(/images/logo.png) 0 0 no-repeat;
    background-size: 80px auto;
    margin-right: 130px;
    text-indent: -9999px;
}

header .knotted_top_menu li{
    margin-right: 40px;
}

header .knotted_top_menu li a{
    font-weight: 500;
}

header .knotted_top_menu li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

header .knotted_member{
    height: 100%;
}

header .knotted_member li{
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
    height: 100%;
    cursor: pointer;
}

header .knotted_member li.knotted_admin{
    background: url(/images/icon_admin.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_login{
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_mypage{
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_cart{
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li:hover{
    transform: translate(0, -1px);
}

header .knotted_member li a {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    line-height: 30px;
}

section{
    position: relative;
    min-height: calc(100vh - 161px);
    padding-top: 120px;
}

section h1{
    padding-top: 100px;
    margin: 0 0 100px;
    text-align: center;
    font-size: 1.750em;
    font-weight: 500;
    letter-spacing: 0;
}

/* 관리자 부분 S */


.header_admin{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 60px;
    background: rgba(253,250,247,0.8);
}

.header_admin .container{
    height: 100%;
}

.header_admin .container .knotted_top_wrap{
    height: 100%;
}

.header_admin .knotted_main{
    width: 80px;
    height: 36px;
    background: url(/images/logo.png) 0 0 no-repeat;
    background-size: 80px auto;
    margin-right: 130px;
    text-indent: -9999px;
}

.header_admin .knotted_top_menu li{
    margin-right: 40px;
}

.header_admin .knotted_top_menu li a{
    font-weight: 500;
}

.header_admin .knotted_top_menu li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

.header_admin .knotted_member{
    height: 100%;
}

.header_admin .knotted_member li{
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
    height: 100%;
    cursor: pointer;
}

.header_admin .knotted_member li.knotted_admin{
    background: url(/images/icon_admin.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_login{
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_mypage{
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_cart{
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li:hover{
    transform: translate(0, -1px);
}

.header_admin .knotted_member li a {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    line-height: 30px;
}

/* 관리자 부분 E */

footer{
    padding: 20px 0 30px;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

footer ul{
    margin-bottom: 7px;
}

footer ul li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -1px;
}

footer ul.footer_board li{
    font-size: 1.4rem;
    margin-right: 20px;
}

footer ul.footer_board li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

footer ul.footer_info li{
    color: #999;
}

footer ul.footer_info li:after {
    content: "｜";
    margin: 0 6px;
    color: #ccc;
}

footer p {
    word-break: keep-all;
    font-size: 1.2rem;
    color: #999;
}

