
/* 사이트 공통으로 들어갈 CSS */
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);

/* 공통 헤더 부분 S */
html {
    font-size: 62.5%;
    background-color: #fdfaf7;
    background-image: url("/images/watermark_transparent.png");
    background-repeat: repeat;
}

html, body {
    min-width: 280px;
    height: 100%;
    min-height: 100%;
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
}

body, div, p, span, h1, h2, h3 {
    font-size: 16px;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #282828;
    word-break: keep-all;
}

* {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* 스크롤바 없애기 */
html::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
}

ul li {
    list-style: none;
}

input[type=text], input[type=password], input[type=number] {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
}

input[type=checkbox] {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

input {
    border: 0;
    padding: 0;
    margin: 0;
}

input, select, textarea {
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
}

input, select {
    vertical-align: middle;
    background: transparent;
}

.container {
    width: 1366px;
    margin: 0 auto;
    position: relative;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #282828;
    font-size: 1em;
}

header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(253,250,247,0.8);
}

header .container{
    width: 1366px;
    margin: 0 auto;
}

header .container .knotted_top_wrap{
    height: 100%;
}

header .h_logo {
    float: left;
    font-size: 0;
    margin-right: 150px;
}

header .h_logo a.knotted_main {
    width: 80px;
    height: 36px;
    background: url(/images/logo.png) 0 0 no-repeat;
    background-size: 80px auto;
    display: inline-block;
    margin: 12px 0;
    text-indent: -9999px;
}

header nav input, header nav label {
    display: none;
}

header nav > .box > .gnb {
    display: block;
    float: left;
}

header nav > .box > .gnb li {
    display: inline-block;
    margin-right: 50px;
    line-height: 60px;
    font-weight: 500;
}

header nav > .box > .gnb li:hover a {
    color: #ffa0c5;
    transition: 0.2s;
}

header .h_member {
    float: right;
}

header .h_member li {
    display: inline-block;
    margin: 0 8px;
    font-size: 11px;
    cursor: pointer;
}

header .h_member li a {
    padding-top: 30px;
    display: inline-block;
    line-height: 30px;
}

header .h_member .h_admin {
    background: url(/images/icon_admin.png) center 10px no-repeat;
    background-size: auto 25px;
    margin-right: 12px;
}

header .h_member .h_login {
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .h_member .h_logout {
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .h_member .h_mypage {
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .h_member .h_cart {
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

section{
    position: relative;
    min-height: calc(100vh - 161px);
    padding-top: 60px;
}

section h1{
    padding-top: 100px;
    margin: 0 0 100px;
    text-align: center;
    font-size: 1.750em;
    font-weight: 500;
    letter-spacing: 0;
}

/* 공통 헤더 부분 E */

/* 관리자 부분 S */

/* 관리자 헤더 부분 S */

.header_admin{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 61px;
    background: rgba(253,250,247,0.8);
}

.header_admin .container{
    height: 100%;
}

.header_admin .container .knotted_top_wrap{
    height: 100%;
}

.header_admin .knotted_top_menu li{
    display: inline-block;
    margin-right: 40px;
    line-height: 45px;
}

.header_admin .knotted_top_menu li a{
    font-weight: 500;
}

.header_admin .knotted_top_menu li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

.header_admin .knotted_member{
    height: 100%;
}

.header_admin .knotted_member li{
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
    height: 100%;
    cursor: pointer;
}

.header_admin .knotted_member li.knotted_admin{
    background: url(/images/icon_admin.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_login{
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_mypage{
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li.knotted_cart{
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

.header_admin .knotted_member li:hover{
    transform: translate(0, -1px);
}

.header_admin .knotted_member li a {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    line-height: 30px;
}

section{
    padding-top: 107px;
}

section h1{
    padding-top: 50px;
    margin: 0 0 50px;
}

/* 관리자 헤더 부분 E */

.admin_main h1{
    margin-bottom: 20px;
}

.admin_main .main_guide_text{
    margin-bottom: 20px;
    text-align: center;
}

.admin_main .main_image{
    text-align: center;
}

.admin_main .main_image img{
    width: 200px;
}

/* 관리 목록 부분 S */

.sub_container{
    padding: 0 150px;
}

.list_top_wrap{
    display: flex;
    justify-content: flex-end;
}

.list_top_wrap a{
    padding: 5px 20px;
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #aaa;
    border-radius: 5px;
}

.object_list{
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.object_list > li{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.object_list > li .object_list_left{
    width: 70%;
    display: flex;
}

.object_list > li .object_list_right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.object_list > li .object_link{
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.object_list > li .object_link img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.object_list > li .object_description{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: calc(100% - 180px);
}

.object_list > li .object_description .object_subject{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 3px;
}

.object_list > li .object_description .object_sub_subject{
    color: #999;
}

.object_list > li .object_description .object_content{
    font-size: 20px;
    margin-top: 10px;
}

.object_list > li .object_description .object_etc{
    margin-top: auto;
}

.object_list > li .object_list_right a{
    padding: 3px 10px;
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #aaa;
    border-radius: 5px;
    margin-left: 10px;
}

/* 관리 목록 부분 E */

/* 등록 폼 관련 부분 S */
.knotted_form {
    width: 94%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.knotted_form ul{
    margin-bottom: 10px;
}

.knotted_form li{
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.knotted_form li.address_li{
    padding-bottom: 12px;
}

.knotted_form li label{
    width: 20%;
    min-width: 60px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.knotted_form li input[type="text"], .knotted_form li input[type="password"]{
    border-radius: 5px;
    height: 43px;
    width: calc(80% - 115px);
    background-color: inherit;
    border: 1px solid #ddd;
}

.knotted_form li input#postcode {
    width: 100px;
}

.knotted_form .address_wrap{
    margin-top: 7px;
}

.knotted_form .address_wrap label{
    font-size: 0;
}

.knotted_form li input#roadAddress {
    margin-bottom: 8px;
}

.knotted_form .require_text {
    color: red;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}

.knotted_form li > button, .knotted_form li > p button {
    border: 1px solid #ffa0c5;
    color: #ffa0c5;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100px;
    height: 43px;
    line-height: 41px;
    float: right;
}

.knotted_form li.address_li button{
    float: none;
    margin-left: 3px;
}

.knotted_form li.required > label:after {
    content: "*";
    color: #ffa0c5;
}

.knotted_form .fieldError{
    color: red;
    line-height: 15px;
    margin-top: 15px;
    font-size: 14px;
}

.knotted_form > p{
    text-align: right;
    line-height: 24px;
}

.knotted_form > p a{
    margin-left: 5px;
    font-size: 14px;
}

.knotted_form > button{
    background: #FFDB7E;
    border: 1px solid #FFDB7E;
    color: #846E23;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 500px;
}

.knotted_form .file_li{
    display: flex;
}

.knotted_form .file_div{
    width: calc(80% - 115px);
    display: inline-block;
    padding-left: 5px;
}

.knotted_form .category_wrap{
    display: inline-block;
    height: 43px;
    width: calc(80% - 115px);
}

.knotted_form .category_wrap input[type='radio']{
    display: none;
}

.knotted_form .category_wrap label{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.knotted_form .category_wrap label:hover{
    color: #ffa0c5;
    transition: 0.2s;
}

.knotted_form .category_wrap label.category_on{
    background-color: #ffa0c5;
    color: #fff;
    font-weight: 500;
}

/* 매장 상품 관리 부분 S */

.store_item_wrap .list_top_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.object_list.store_item_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.object_list.store_item_list > li .object_link{
    width: 70px;
    height: 70px;
    margin: 0;
}

.store_item_wrap .list_top_wrap ul{
    display: grid;
    grid-template-columns: 80px 160px 80px 80px 100px;
    place-items: center;
}

.store_item_wrap .list_top_wrap ul li{
    font-weight: 500;
}

.object_list.store_item_list > li ul{
    display: grid;
    grid-template-columns: 80px 160px 80px 80px 120px;
    place-items: center;
}

.object_list.store_item_list input[type='number']{
    width: 55px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.object_list.store_item_list .button_wrap{
    width: 100%;
    text-align: center;
}

.object_list.store_item_list button{
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 500;
}

.object_list.store_item_list button:hover{
    color: #ffa0c5;
    transition: 0.2s;
}

.object_list.store_item_list > li ul li:nth-child(2){
    width: 100%;
    padding-left: 15px;
}

/* 매장 상품 관리 부분 E */

/* 등록 폼 관련 부분 E */


/* 관리자 부분 E */


/* 공통 푸터 부분 S */

footer{
    padding: 20px 0 30px;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

footer ul{
    margin-bottom: 9px;
}

footer ul:after{
    clear: both;
    display: block;
    content: "";
}

footer ul li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -1px;
    float: left;
}

footer ul.footer_board{
    margin-bottom: 11px;
}

footer ul.footer_board li{
    font-size: 1.4rem;
    margin-right: 20px;
}

footer ul.footer_board li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}
footer ul.footer_info li{
    color: #999;
}

footer ul.footer_info li:after {
    content: "｜";
    margin: 0 6px;
    color: #ccc;
}

footer .footer_info li:last-child:after {
    display: none;
}

footer .footer_info a{
    color: #ffa0c5;
}

footer p {
    word-break: keep-all;
    font-size: 1.2rem;
    color: #999;
}

/* 공통 푸터 부분 E */