
/* 사이트 공통으로 들어갈 CSS */
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);

html {
    font-size: 62.5%;
    background-color: #fdfaf7;
    background-image: url("/images/watermark_transparent.png");
    background-repeat: repeat;
}

body, div, p, span, h1, h2, h3 {
    font-size: 16px;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #282828;
    word-break: keep-all;
}

a {color: #000; text-decoration: none; outline: none}

ul li {
    list-style: none;
}

input[type=text], input[type=password] {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
}

input[type=checkbox] {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #282828;
    margin: 0 1px;
    font-size: 1em;
}

header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(253,250,247,0.8);
}

header .container{
    height: 100%;
}

header .container .knotted_top_wrap{
    height: 100%;
}

header .knotted_main{
    width: 80px;
    height: 36px;
    background: url(/images/logo.png) 0 0 no-repeat;
    background-size: 80px auto;
    margin-right: 130px;
    text-indent: -9999px;
}

header .knotted_top_menu li{
    margin-right: 40px;
}

header .knotted_top_menu li a{
    font-weight: 500;
}

header .knotted_top_menu li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

header .knotted_member{
    height: 100%;
}

header .knotted_member li{
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
    height: 100%;
    cursor: pointer;
}

header .knotted_member li.knotted_admin{
    background: url(/images/icon_admin.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_login{
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_mypage{
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_cart{
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li:hover{
    transform: translate(0, -1px);
}

header .knotted_member li a {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    line-height: 30px;
}

section{
    position: relative;
    min-height: calc(100vh - 161px);
    padding-top: 60px;
}

section h1{
    padding-top: 100px;
    margin: 0 0 100px;
    text-align: center;
    font-size: 1.750em;
    font-weight: 500;
    letter-spacing: 0;
}

/* 메인 페이지 부분 S */
.knotted_main .knotted_main_swiper{
    margin-bottom: 100px;
}

.knotted_main .knotted_main_swiper a{
    display: block;
    width: 100%;
}

.knotted_main .knotted_main_swiper a img{
    width: 100%;
}
/* 메인 페이지 부분 E */

/* 회원가입, 로그인 부분 S */
.knotted_login_form{
    width: 94%;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.knotted_join_form {
    width: 94%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.knotted_join_form ul,
.knotted_login_form ul{
    margin-bottom: 10px;
}

.knotted_join_form li,
.knotted_login_form li{
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.knotted_join_form li.address_li{
    padding-bottom: 12px;
}

.knotted_join_form li label,
.knotted_login_form li label{
    width: 20%;
    min-width: 60px;
    display: inline-block;
}

.knotted_join_form li input[type="text"], .knotted_join_form li input[type="password"] {
    border-radius: 5px;
    height: 43px;
    width: calc(80% - 115px);
    margin-top: -5px;
    background-color: inherit;
    border: 1px solid #ddd;
}

.knotted_login_form li input[type="text"], .knotted_login_form li input[type="password"] {
    border-radius: 5px;
    height: 43px;
    width: calc(80% - 10px);
    margin-top: -5px;
    background-color: inherit;
    border: 1px solid #ddd;
}

.knotted_join_form li input:disabled {
    -webkit-text-fill-color: inherit;
    opacity: 0.5;
}

.knotted_join_form li input#postcode {
    width: 100px;
}

.knotted_join_form .address_wrap{
    margin-top: 7px;
}

.knotted_join_form .address_wrap label{
    font-size: 0;
}

.knotted_join_form li input#roadAddress {
    margin-bottom: 8px;
}

.knotted_join_form .join_point {
    color: red;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}

.knotted_join_form li > button, .knotted_join_form li > p button {
    border: 1px solid #ffa0c5;
    color: #ffa0c5;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100px;
    height: 43px;
    line-height: 41px;
    margin-top: -2px;
    float: right;
}

.knotted_join_form li.address_li button{
    float: none;
}

.knotted_join_form li.required label:after {
    content: "*";
    color: #ffa0c5;
}

.knotted_join_form .fieldError{
    color: red;
    line-height: 15px;
    margin-top: 15px;
    font-size: 14px;
}

.knotted_join_form > p, .knotted_login_form > p {
    text-align: right;
    line-height: 24px;
}

.knotted_join_form > p a, .knotted_login_form > p a {
    margin-left: 5px;
    font-size: 14px;
}

.knotted_join_form > button, .knotted_login_form > button{
    background: #FFDB7E;
    border: 1px solid #FFDB7E;
    color: #846E23;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 500px;
}

.knotted_login_form > p a:last-of-type:before {
    content: "ㅣ";
    padding-right: 10px;
}

.knotted_login_form a.join{
    background: #282828;
    border: 1px solid #FFDB7E;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 500px;
    margin: 0 auto;
    margin-top: 10px;
}
/* 회원가입, 로그인 부분 E */


/* 매장 메인 부분 S */
.menucategory {
    height: auto;
    min-height: 40px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
}

.storelist .menucategory{
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

.menucategory > .search {
    width: 30%;
    float: right;
    border-radius: 50px;
    background-color: #ebebeb;
    padding: 5px 10px;
}

.menucategory > .search input[type=text] {
    background-color: transparent;
    width: calc(100% - 50px);
    height: 30px;
    float: left;
    border: none;
}

.menucategory > .search input[type=text]:focus{
    outline: none;
}

.menucategory > .search button {
    background: url("/images/icon_search.png") 50% 50% no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 0;
    background-size: 22px auto;
    float: right;
}

.menucategory > .search:after {
    content: "";
    clear: both;
    float: none;
}

.listview{
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding: 10px 0 0 0;
}

.listview li {
    text-align: center;
    cursor: pointer;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: inline-grid;
}

.listview li div {
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.storelist .listview li div > .img {
    background: #EEE;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
}

.storelist .listview li div > .img img, .menulist .listview li div > .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.listview li div:after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.listview li h2 {
    margin: 15px 0 3px;
}

.listview li p {
    font-size: 1.4rem;
    color: #999;
}

.listview li > p {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}

/* 매장 메인 부분 E */

/* 매장 상세보기 S */

.view {
    max-width: 960px;
    margin: 0 auto;
}

.view:after{
    content: "";
    clear: both;
    display: block;
}

.view > .inform01 {
    float: left;
}

.view > .inform01 > .photo {
    margin: 0 0 15px 0;
    width: 360px;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.view > .inform01 > .photo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.view > .inform02 {
    width: calc(100% - 400px);
    float: right;
    height: 100%;
}

.view > .inform02 > ul{
    margin-top: 5px;
    margin-left: 5px;
}

.view > .inform02 li {
    color: #999;
    margin-bottom: 20px;
    line-height: 1.4;
}

.view > .inform02 li h2 {
    font-size: 2.6rem;
    font-weight: 500;
    margin-right: 15px;
    display: inline-block;
}

.view > .inform02 li .map {
    margin: 0 5px 0 10px;
    cursor: pointer;
    font-weight: 600;
    color: #999;
}

.view > .inform02 li.opening{
    margin-bottom: 3px;
}

.view > .inform02 li.opening span{
    margin-left: 10px;
}

.view > .inform02 li.description{
    color: #282828;
}

.view > .inform02 li input[type=checkbox] {
    display: none;
}

.view > .inform02 li input[type=checkbox] + label {
    background: url(/images/icon_bookmark.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: auto 20px;
    background-position: 0 0;
    display: inline-block;
    cursor: pointer;
}

/* 매장 상세보기 E */

footer{
    padding: 20px 0 30px;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

footer ul{
    margin-bottom: 7px;
}

footer ul li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -1px;
}

footer ul.footer_board li{
    font-size: 1.4rem;
    margin-right: 20px;
}

footer ul.footer_board li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

footer ul.footer_info li{
    color: #999;
}

footer ul.footer_info li:after {
    content: "｜";
    margin: 0 6px;
    color: #ccc;
}

footer p {
    word-break: keep-all;
    font-size: 1.2rem;
    color: #999;
}

