
/* 사이트 공통으로 들어갈 CSS */
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);

html {
    font-size: 62.5%;
    background-color: #fdfaf7;
}

body, div, p, span, h1, h2, h3 {
    font-size: 16px;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #282828;
    word-break: keep-all;
}

a {color: #000; text-decoration: none; outline: none}

ul li {
    list-style: none;
}

input[type=text], input[type=password] {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #282828;
    margin: 0 1px;
    font-size: 1em;
}

header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(253,250,247,0.8);
}

header .container{
    height: 100%;
}

header .container .knotted_top_wrap{
    height: 100%;
}

header .knotted_main{
    width: 80px;
    height: 36px;
    background: url(/images/logo.png) 0 0 no-repeat;
    background-size: 80px auto;
    margin-right: 130px;
    text-indent: -9999px;
}

header .knotted_top_menu li{
    margin-right: 40px;
}

header .knotted_top_menu li a{
    font-weight: 500;
}

header .knotted_top_menu li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

header .knotted_member{
    height: 100%;
}

header .knotted_member li{
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
    height: 100%;
    cursor: pointer;
}

header .knotted_member li.knotted_login{
    background: url(/images/icon_login.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_mypage{
    background: url(/images/icon_mypage.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li.knotted_cart{
    background: url(/images/icon_cart.png) center 10px no-repeat;
    background-size: auto 25px;
}

header .knotted_member li:hover{
    transform: translate(0, -1px);
}

header .knotted_member li a {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    line-height: 30px;
}

section{
    position: relative;
    min-height: calc(100vh - 161px);
    padding-top: 60px;
}

section h1{
    padding-top: 100px;
    margin: 0 0 100px;
    text-align: center;
    font-size: 1.750em;
    font-weight: 500;
    letter-spacing: 0;
}

.knotted_main .knotted_main_swiper{
    margin-bottom: 100px;
}

.knotted_main .knotted_main_swiper a{
    display: block;
    width: 100%;
}

.knotted_main .knotted_main_swiper a img{
    width: 100%;
}

.knotted_login_form{
    width: 94%;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.knotted_join_form {
    width: 94%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.knotted_join_form ul,
.knotted_login_form ul{
    margin-bottom: 10px;
}

.knotted_join_form li,
.knotted_login_form li{
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.knotted_join_form li.address_li{
    padding-bottom: 12px;
}

.knotted_join_form li label,
.knotted_login_form li label{
    width: 20%;
    min-width: 60px;
    display: inline-block;
}

.knotted_join_form li input[type="text"], .knotted_join_form li input[type="password"] {
    border-radius: 5px;
    height: 43px;
    width: calc(80% - 115px);
    margin-top: -5px;
    background-color: inherit;
    border: 1px solid #ddd;
}

.knotted_login_form li input[type="text"], .knotted_login_form li input[type="password"] {
    border-radius: 5px;
    height: 43px;
    width: calc(80% - 10px);
    margin-top: -5px;
    background-color: inherit;
    border: 1px solid #ddd;
}

.knotted_join_form li input:disabled {
    -webkit-text-fill-color: inherit;
    opacity: 0.5;
}

.knotted_join_form li input#postcode {
    width: 100px;
}

.knotted_join_form .address_wrap{
    margin-top: 7px;
}

.knotted_join_form .address_wrap label{
    font-size: 0;
}

.knotted_join_form li input#roadAddress {
    margin-bottom: 8px;
}

.knotted_join_form .join_point {
    color: red;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}

.knotted_join_form li > button, .knotted_join_form li > p button {
    border: 1px solid #ffa0c5;
    color: #ffa0c5;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100px;
    height: 43px;
    line-height: 41px;
    margin-top: -2px;
    float: right;
}

.knotted_join_form li.address_li button{
    float: none;
}

.knotted_join_form li.required label:after {
    content: "*";
    color: #ffa0c5;
}

.knotted_join_form .fieldError{
    color: red;
    line-height: 15px;
    margin-top: 15px;
    font-size: 14px;
}

.knotted_join_form > p, .knotted_login_form > p {
    text-align: right;
    line-height: 24px;
}

.knotted_join_form > p a, .knotted_login_form > p a {
    margin-left: 5px;
    font-size: 14px;
}

.knotted_join_form > button, .knotted_login_form > button{
    background: #FFDB7E;
    transition: 1s;
    border: 1px solid #FFDB7E;
    color: #846E23;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 500px;
}

.knotted_login_form > p a:last-of-type:before {
    content: "ㅣ";
    padding-right: 10px;
}

.knotted_login_form a.join{
    background: #282828;
    transition: 1s;
    border: 1px solid #FFDB7E;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 500px;
    margin: 0 auto;
    margin-top: 10px;
}

footer{
    padding: 20px 0 30px;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

footer ul{
    margin-bottom: 7px;
}

footer ul li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -1px;
}

footer ul.footer_board li{
    font-size: 1.4rem;
    margin-right: 20px;
}

footer ul.footer_board li a:hover{
    color: #ffa0c5 !important;
    transition: 0.2s;
}

footer ul.footer_info li{
    color: #999;
}

footer ul.footer_info li:after {
    content: "｜";
    margin: 0 6px;
    color: #ccc;
}

footer p {
    word-break: keep-all;
    font-size: 1.2rem;
    color: #999;
}

