<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<th:block layout:fragment="css"></th:block>

<div layout:fragment="content" class="knotted_main">
    <div class="swiper knotted_main_swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;">
                    <img th:src="@{/images/main_banner_1.png}" alt="메인 배너">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;">
                    <img th:src="@{/images/main_banner_2.png}" alt="메인 배너">
                </a>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        var swiper = new Swiper(".knotted_main_swiper", {
            pagination: {
                el: ".swiper-pagination",
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            allowTouchMove: false,
            speed: 1000
        });
    </script>
</th:block>

</html>