<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/admin}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>주문 관리</h1>

        <div class="list_top_wrap">
            <div class="search">
                <input type="text" id="search_word"><label for="search_word"></label>
                <button type="button" class="store_search">검색</button>
            </div>
        </div>

        <table class="order_listview reserve_listview">
            <thead>
                <tr>
                    <th>주문일</th>
                    <th>주문번호</th>
                    <th>주문자</th>
                    <th>주문내용</th>
                    <th>결제금액</th>
                    <th>주문상태</th>
                </tr>
            </thead>
            <tbody>
            <!--/* 여기 tr 부분을 순회하면서 주문 내역 출력 */-->
            <tr th:each="orderDTO : ${orderDTOList}" th:object="${orderDTO}" th:attr="data-id=${orderDTO.id}" class="go_order_detail">
                <td>
                    <span th:text="*{#temporals.format(regDate, 'yyyy-MM-dd')}"></span>
                    <br>
                    <span th:text="*{#temporals.format(regDate, 'HH:mm:ss')}"></span>
                </td>
                <td>
                    <span th:text="*{id}"></span>
                </td>
                <td>
                    <span th:text="*{memberDTO.getEmail()}"></span>
                </td>
                <td>
                    <!--/* 상품은 첫 번째 상품명만 표시해준다 */-->
                    <h2 th:text="*{orderItemDTOList.get(0).name + ' 외'}"></h2>
                    <p>예약매장<span th:text="*{storeDTO.name}"></span></p>
                    <p>예약일자<span th:text="*{#temporals.format(reserveDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                </td>
                <td th:text="*{#numbers.formatInteger(orderPrice, 0, 'COMMA') + '원'}"></td>
                <td th:text="${#strings.equals(orderDTO.status, 'ORDER') ? '결제완료' : '취소완료'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        // 주문 상세보기로 가기
        $(".order_listview .go_order_detail").on("click", function(){
            let orderId = $(this).closest("tr").data("id");

            location.href = "/order/detail/" + orderId;
        });
    </script>

</th:block>

</html>