<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/common}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>주변매장찾기</h1>

        <!--/* 카카오 지도를 띄울 부분 */-->
        <div class="sub_container">

            <div class="kakao_map_wrap">
                <div id="kakao_map">

                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">

    <!--/* 지도를 그리는 카카오 지도 API 불러옴 (자바스크립트 키가 포함되어 있으므로 레포지토리를 절대 public으로 하면 안 됨) */-->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7571150af31c845a300dfabc6d0b71c9"></script>

    <script>
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        let container = document.getElementById("kakao_map");

        let options = {
            center: new kakao.maps.LatLng(37.53, 126.98), // 지도 중심좌표
            level: 8 // 지도 확대 레벨
        };

        let map = new kakao.maps.Map(container, options);

        // 매장 리스트를 ajax로 받아온다


        $(document).ready(function(){
            // 페이지 로드 완료되면 바로 loadCategoryItems로 전체 상품 불러옴
            loadStores("");
        });

        // 생성된 인포윈도우를 담아둘 배열
        let infoWindows = [];

        // 생성된 커스텀 오버레이를 담아둘 배열
        let overlays = [];

        // 검색어로 매장 리스트 받아오는 함수
        function loadStores(searchWord){
            $.ajax({
                url: "/store/search",
                method: "POST",
                data: {
                    searchWord: searchWord,
                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    // 넘어온 매장을 순회하면서 마커를 생성한다

                    for (let i = 0; i < result.length; i++) {
                        let store = result[i];

                        let latitude = store.latitude;
                        let longitude = store.longitude;

                        // 마커 위치를 설정
                        let markerPosition = new kakao.maps.LatLng(latitude, longitude);

                        // 마커를 생성
                        let marker = new kakao.maps.Marker({
                            position: markerPosition,
                            clickable: true // 마커를 클릭 시 지도 클릭 이벤트가 발생하지 않게 함
                        });

                        // 마커를 생성한 지도에 표시
                        marker.setMap(map);

                        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우 생성
                        let iwContent = `<div class="marker_popup"><div class="store_name">${store.name}</div><div class="store_address">${store.address}</div><div class="phoneNumber">${store.phoneNumber}</div><div class="store_detail"><a href="javascript:;">자세히 보기</a></div></div></div>`,
                            iwRemovable = true; // 인포윈도우를 닫을 수 있는 X 버튼 표시

                        // 인포윈도우 생성
                        let infoWindow = new kakao.maps.InfoWindow({
                            content: iwContent,
                            removable: iwRemovable
                        });

                        infoWindows.push(infoWindow); // 인포윈도우 배열에 인포윈도우 추가

                        // 커스텀 오버레이 선언
                        let customContent = `<div class="marker_popup"><div class="store_name">${store.name}</div><div class="store_address">${store.address}</div><div class="store_phonenumber">${store.phoneNumber}</div><div class="store_opentime">${store.openTime} ~ ${store.closeTime}</div><div class="store_detail"><a href="javascript:;" class="go_store_detail" data-id="${store.id}">자세히 보기</a></div></div></div>`;

                        // 마커 위에 커스텀 오버레이 표시
                        let overlay = new kakao.maps.CustomOverlay({
                            content: customContent,
                            map: map,
                            position: marker.getPosition()
                        });

                        overlays.push(overlay);

                        // 마커에 클릭 이벤트 등록
                        kakao.maps.event.addListener(marker, 'click', function(){
                            // 다른 인포윈도우는 전부 닫는다
                            // closeWindows();

                            // 마커 위에 인포윈도우 표시
                            // infoWindow.open(map, marker);

                            // 다른 커스텀 오버레이는 전부 닫는다
                            closeOverlays();

                            // 마커 위에 커스텀 오버레이 표시
                            openOverlay(overlay);

                            // 중심도 부드럽게 이동하도록 함
                            setCenter(latitude, longitude);
                        });

                        // 일단 모든 오버레이는 닫고 시작한다
                        closeOverlays();
                    }
                },
                error: function(jqXHR, status, error){
                    alert(jqXHR.responseText);
                }
            });
        }

        // 클릭한 곳으로 지도 중심을 이동시키기 위한 함수
        function setCenter(latitude, longitude){
            let moveLatLon = new kakao.maps.LatLng(latitude + 0.01, longitude); // 중심보다 살짝 위로 이동

            map.panTo(moveLatLon);
        }

        // 다른 마커를 닫는 함수
        function closeWindows(){
            // 마커 객체 순회하면서 닫는다.
            infoWindows.forEach(function(e){
                e.close(); // 닫음
            });
        }

        // 다른 오버레이를 닫는 함수
        function closeOverlays(){
            overlays.forEach(function(e){
                e.setMap(null);
            });
        }

        // 현재 오버레이를 여는 함수
        function openOverlay(overlay){
            overlay.setMap(map);
        }

        // 매장 상세보기로 가기
        $("#kakao_map").on("click", ".go_store_detail", function(){
            let storeId = $(this).data("id");

            location.href = "/store/" + storeId;
        });
    </script>

</th:block>

</html>