<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/admin}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <div class="container">
        <h1>상품 관리</h1>

        <div class="sub_container">
            <div class="list_top_wrap">
                <a th:href="@{/admin/item/new}">등록하기</a>
            </div>

            <!--/* 아래 부분은 나중에 REST로 실제 리스트로 대체할 부분임 */-->
            <ul class="item_list object_list">
                <th:block th:each="item : ${itemList}">
                    <li th:object="${item}" th:attr="data-id=${item.id}" class="item object">
                        <div class="object_list_left">
                            <a th:href="@{/menu/{id}(id=*{id})}" class="object_link">
                                <img th:src="*{itemImageDTO.imageUrl}" alt="상품 사진">
                            </a>
                            <div class="object_description">
                                <div class="object_subject" th:text="*{name}"></div>
                                <div class="object_sub_subject" th:text="*{nameEng}"></div>
                                <div class="object_content" th:text="${item.price + '원'}"></div>
                                <div class="object_etc" th:text="*{description}"></div>
                            </div>
                        </div>
                        <ul class="object_list_right">
                            <li>
                                <a th:href="@{/menu/{id}(id=*{id})}">보기</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/item/{id}(id=*{id})}">수정</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="delete_item">삭제</a>
                            </li>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>
        
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        // 상품 삭제를 ajax로 구현
        $(".delete_item").on("click", function(){

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            let itemId = $(this).closest(".item").data("id");
            let url = "/admin/item/" + itemId;

            let delete_confirm = confirm("정말 삭제하시겠습니까? (상품 이미지도 같이 삭제됩니다)");
            if(!delete_confirm){
                return;
            }

            $.ajax({
                url: url,
                type: "DELETE",
                data: {
                    itemId: itemId,
                },
                cache: false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success: function(result, status){
                    alert("상품을 삭제했습니다");
                    location.href = "/admin/item";
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == "500"){
                        alert("상품 삭제에 실패했습니다");
                        return;
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        });
    </script>
</th:block>

</html>