name: Deploy workflow on production environment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Create .properties file
        uses: actions/checkout@v3
      - run: touch ./src/main/resources/application.properties
      - run: echo "${{ secrets.APPLICATION }}" > ./src/main/resources/application.properties
      - run: cat ./src/main/resources/application.properties

      - name: Grant execute permission for Maven
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean install

      - name: Access to AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Make Directory for deliver
        run: mkdir deploy

      # script files 복사
      - name: Copy script
        run: cp ./scripts/*.sh ./deploy/

      - name: Copy Jar
        run: cp ./target/*.jar ./deploy/

      - name: Upload Jar to S3
        run: aws s3 cp --region ap-northeast-2 ./deploy/*.jar s3://bucket-jungmin-githubactions/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}